/*!
foundation > reset
------------------------------
*/
html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    *font-size: 100%;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
}

input,
textarea,
select {
    font-size: 16px;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
    line-height: 1.5;
    font-size: 14px;
    color: var(--color-font-primary);
    font-family: var(--font-family-base);
}
@media screen and (min-width: 768px) {
    body {
    font-size: 16px;
    }
}

/*!
utility > utility
------------------------------
*/
.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

/*!
component > button
------------------------------
*/

/* 標準ボタン */
.c-button {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 20px 10px;
    background-color: #385b41;
    border: 2px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #fefefe;
    font-size: 16px;
    text-align: center;
    transition: .25s;
}

.c-button:focus,
.c-button:hover {
    background-color: #fefefe;
    border-color: currentColor;
    color: #385b41;
}

/* 矢印つきボタン */
.c-button--arrow {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    position: relative;
    padding: 20px 2em 20px 1.28em;
    background-color: #385b41;
    border: 2px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #fefefe;
    font-size: 16px;
    text-align: center;
    transition: .25s;
}

.c-button--arrow::after {
    content: '\f061';
    position: absolute;
    top: 50%;
    right: .83em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    transform: translateY(-50%);
}


.c-button--arrow:focus,
.c-button--arrow:hover {
    background-color: #fefefe;
    border-color: currentColor;
    color: #385b41;
}